<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<% include ./partials/messages %>
<a href="/users/register" class="btn btn-primary">Register</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<p>&nbsp</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach((user) => { %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
        </tr>
        <% }); %>
    </tbody>
</table>