<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>User Login</p>
        <a href="/users/login" class="btn btn-primary btn-block">Login</a>
      </div>
    </div>
  </div>